In [1]:
import numpy as np
import pandas as pd
import random

In [2]:
def replace_column_values(column_name,replaced_list,related_columns=None):
    #Get unique values from the main column in which the values will be replaced
    get_unique_values = column_name.dropna().unique().tolist()
    #Get the size of the list to find matching list
    size_of_column_list = len(get_unique_values)
    #get the replaced list to be the same size than the unique values in the column
    replaced_list = replaced_list[:size_of_column_list]
    #replace the value for the column
    column_name.replace(get_unique_values,replaced_list,inplace=True)
    
    if related_columns:
        for column in related_columns:
            column.replace(get_unique_values,replaced_list,inplace=True)

In [3]:
df_final = pd.read_excel("/media/ahmed/1A1B48F4515C9371/data/projects/PowerBIPortfolio/StudentsPerformanceModify/Final5AllSubjects.xlsx")

In [4]:
df_midterm = pd.read_excel("/media/ahmed/1A1B48F4515C9371/data/projects/PowerBIPortfolio/StudentsPerformanceModify/Midterm5AllSubjects.xlsx")

In [5]:
df_final.head()

,StudentID,Name,Subject,Class,Activity,Short Evaluation,Assignments,Behaviour,Art Activities,Participation,Project,Practical Exam,Achivements,Period,Main Evaluation,2nd Attempt,Grade,Status
0,31170600025,احمد عبدالرحمن يوسف,Mathematics,05/1,50.0,20.0,10.0,NaN,NaN,5.0,15.0,NaN,NaN,1st Term Final,46.0,NaN,38.0,Present
1,31163403201,احمد على محمد بنجر القحطانى,Mathematics,05/1,50.0,20.0,10.0,NaN,NaN,5.0,15.0,NaN,NaN,1st Term Final,42.5,NaN,36.5,Present
2,31163405939,الحسن على محمد طفله المرى,Mathematics,05/1,50.0,20.0,10.0,NaN,NaN,5.0,15.0,NaN,NaN,1st Term Final,27.0,NaN,28.5,Present
3,31173600473,الشيخ موسى الشيخ حاج على,Mathematics,05/1,50.0,20.0,10.0,NaN,NaN,5.0,15.0,NaN,NaN,1st Term Final,43.0,NaN,37.0,Present
4,31163406610,جابر متعب جابر المنخس المرى,Mathematics,05/1,50.0,20.0,10.0,NaN,NaN,5.0,15.0,NaN,NaN,1st Term Final,47.0,NaN,37.0,Present

In [6]:
names = pd.read_csv("/media/ahmed/1A1B48F4515C9371/data/projects/moepowerbi/randomizedata/archive/Customer_Names.csv")
names

     First Name Last Name
0      Mechelle  Stoneman
1        Tyesha   Freitag
2          Dean  Stoecker
3       Annelle   Pickney
4     Margareta      Tacy
...         ...       ...
1995       Myrl   Eriksen
1996      Oleta     Moret
1997     Carita   Fifield
1998      Glory   Mckeown
1999     Hallie     Joshi

[2000 rows x 2 columns]

In [7]:
names["Full Name"] = names["First Name"]+" "+names["Last Name"]
names

     First Name Last Name          Full Name
0      Mechelle  Stoneman  Mechelle Stoneman
1        Tyesha   Freitag     Tyesha Freitag
2          Dean  Stoecker      Dean Stoecker
3       Annelle   Pickney    Annelle Pickney
4     Margareta      Tacy     Margareta Tacy
...         ...       ...                ...
1995       Myrl   Eriksen       Myrl Eriksen
1996      Oleta     Moret        Oleta Moret
1997     Carita   Fifield     Carita Fifield
1998      Glory   Mckeown      Glory Mckeown
1999     Hallie     Joshi       Hallie Joshi

[2000 rows x 3 columns]

In [8]:
fullnames = names["Full Name"].values.tolist()
fullnames

['Mechelle Stoneman',
 'Tyesha Freitag',
 'Dean Stoecker',
 'Annelle Pickney',
 'Margareta Tacy',
 'Meghann Placencia',
 'Kendrick Cieslak',
 'Polly Isenberg',
 'Evelyne Racicot',
 'Augustus Delaune',
 'Shawanda Client',
 'Loura Coffield',
 'Lorriane Machin',
 'Lacey Osier',
 'Nicki Malchow',
 'Sidney Bodiford',
 'Barbie Cun',
 'Elden Hanshaw',
 'Blossom Loggins',
 'Joseph Dennie',
 'Pattie Markley',
 'Genevieve Spahn',
 'Luciano Jaworski',
 'Noe Mahler',
 'Karri Bransford',
 'Larae Bonney',
 'Sharita Fierros',
 'Frederica Perla',
 'Mara Elder',
 'Enola Volz',
 'Leslie Mccardell',
 'Gina Coria',
 'Marietta Taing',
 'Karlyn Buchholtz',
 'Herma Renken',
 'Gertrud Gillispie',
 'Kelsie Lavoie',
 'Selena Jenney',
 'Teri Schooley',
 'Lizette Campana',
 'Mayra Luby',
 'Luisa Finneran',
 'Genoveva Herrod',
 'Tandra Toon',
 'Zoe Mangrum',
 'Marquerite Salaam',
 'Alva Fonte',
 'Maudie Cage',
 'Hilde Greaves',
 'Christiana Rippe',
 'Bulah Warr',
 'Azzie Stolte',
 'Sharri Whistler',
 'Rebecka Holliman',
 'Bryce Muse',
 'Merideth Marcus',
 'Nova Boden',
 'Granville Watchman',
 'Marquerite Dearborn',
 'Arielle Ketcham',
 'Shona Buggs',
 'Aleta Ciesla',
 'Jenni Wichman',
 'Cuc Phinney',
 'Danica Fleig',
 'Shaquana Emigh',
 'Brinda Master',
 'Janell Hinojos',
 'Karri Celestin',
 'Enid Bouley',
 'Desire Klenke',
 'Brian Chamberlain',
 'Kristeen Farabaugh',
 'Gilda Vanatta',
 'Princess Bumbrey',
 'Earlie Townson',
 'Fumiko Laliberte',
 'Sherie Chason',
 'Gricelda Maravilla',
 'Serafina Knoll',
 'Sachiko Younkin',
 'Jena Noles',
 'Shelby Wiser',
 'Margareta Spies',
 'Dinorah Furey',
 'Kiyoko Lechuga',
 'Danny Kreger',
 'Nolan Fenwick',
 'Lesli Unrein',
 'Donya Bartle',
 'Palma Flanery',
 'Kenny Clothier',
 'Kristen Lossing',
 'Karoline Felix',
 'Alan Voll',
 'Glenda Woolfolk',
 'Alyson Hosack',
 'Francis Sines',
 'Riley Bagnall',
 'Carmina Camp',
 'Alethia Tiemann',
 'Deborah Molinar',
 'Marvella Huckstep',
 'Sallie Briley',
 'Scottie Backer',
 'Beatriz Kinsey',
 'Mason Carrow',
 'Regenia Blish',
 'Necole Faria',
 'Samantha Hadfield',
 'Lida Sing',
 'Bette Church',
 'Illa Friscia',
 'Magdalena Clabaugh',
 'Sol Lemley',
 'Angelyn Nave',
 'Lorie Hempstead',
 'Darlena Brubaker',
 'Ivory Almonte',
 'Keva Sauage',
 'Krystin Morita',
 'Margarito Hintzen',
 'Alanna Gillispie',
 'Alayna Rosenblatt',
 'Deeann Thomsen',
 'Guy Moulton',
 'Ming Scudder',
 'Mickey Espino',
 'Mellissa Mortimore',
 'Lesia Stoute',
 'Pauletta Murton',
 'Solomon Chamberlin',
 'Neville Yocom',
 'Vera Edmiston',
 'Lawerence Amburn',
 'Cedrick Agnew',
 'Melinda Kuchta',
 'Alma Gelinas',
 'Francis Sikes',
 'Minerva Giles',
 'Nikki Iskra',
 'Lore Coil',
 'Marlena Craner',
 'Darius Trojacek',
 'Sade Gasaway',
 'Sybil Rahman',
 'Zoraida Sumner',
 'Raina Mccrae',
 'Elsa Mcspadden',
 'Bernadine Chung',
 'Francie Frase',
 'Mariana Vavra',
 'Nakita Primer',
 'Aletha Hardesty',
 'Dwain Sargeant',
 'Thea Hubbs',
 'Caleb Peters',
 'Sparkle Kaestner',
 'Narcisa Hsieh',
 'Sherwood Vanalstyne',
 'Jeanice Joy',
 'Bert Riter',
 'Dorotha Aldinger',
 'Anisha Thomson',
 'Rufus Amerine',
 'Roslyn Alaimo',
 'Noelle Raybon',
 'Shanae Hanger',
 'William Hopf',
 'Adolfo Bella',
 'Xenia Schubert',
 'Brenton Tokarski',
 'Hal Bender',
 'Geraldine Border',
 'Setsuko Pardo',
 'Meghan Sydnor',
 'Lavern Gard',
 'Cyrus Beckham',
 'Leeanne Fortunato',
 'Nilda Deyoung',
 'Marylee Greenburg',
 'Gay Aubert',
 'Janel Carley',
 'Damaris Nestle',
 'Jeanine Hoerr',
 'Wiley Scotto',
 'Dian Cobian',
 'Brendan Zilnicki',
 'Mana Seegmiller',
 'Flavia Nitta',
 'Humberto Ware',
 'Ned Permenter',
 'Albertina Junkin',
 'Rosia Duron',
 'Kena Stallings',
 'Lolita Pringle',
 'Kristen Gilley',
 'Genaro Koga',
 'Suzanna Putman',
 'Candy Konieczny',
 'Ozella Conner',
 'Leonel Hock',
 'Vannesa Millard',
 'Melonie Villacorta',
 'Dorine Zeitler',
 'Bridget Conyers',
 'Jacklyn Dyment',
 'Felicita Maclachlan',
 'Herbert Gamache',
 'Antonietta Llewellyn',
 'Pennie Alling',
 'Laree Kay',
 'Antonio Navarette',
 'Steve Mainor',
 'Gertrud Sather',
 'Nan Beverley',
 'Walter Belford',
 'Colby Hobart',
 'Patrick Nocera',
 'Hilary Modeste',
 'Elke Licht',
 'Faustina Dunson',
 'Tara Clingman',
 'Elva Hochmuth',
 'Opal Groover',
 'Maryln Ferris',
 'Katrina Almon',
 'Stephane Labelle',
 'Christene Gloria',
 'Araceli Majewski',
 'Marilou Funderburg',
 'America Tocci',
 'Erich Ragin',
 'Neoma Pellegrino',
 'Sid Lamore',
 'Stella Morman',
 'Ha Durrah',
 'Chantel Absher',
 'Torri Wert',
 'Michelina Holscher',
 'Verlene Arviso',
 'Lois Tew',
 'Miguelina Hoyte',
 'Evelina Willaert',
 'Ranae Topp',
 'Carolann Veasley',
 'Jeannette Gravelle',
 'Lenita Slevin',
 'Valentina Quinby',
 'Latoyia Bushway',
 'Keitha Wold',
 'Flora Plascencia',
 'Azucena Herder',
 'Kathi Lilienthal',
 'Andrea Saine',
 'Shawna Riviera',
 'Nolan Harwell',
 'Jennell Leverich',
 'Birgit Puente',
 'Gerry Medal',
 'Palma Sample',
 'Annalisa Rotolo',
 'Eilene Jolly',
 'Kathey Keep',
 'Fanny Dutra',
 'Leanne Proto',
 'Traci Heier',
 'Jennette Everett',
 'Levi Sharpton',
 'Jackson Sills',
 'Fabiola Virden',
 'Wan Zajac',
 'Franklin Kruger',
 'Delcie Graffam',
 'Yolonda Jorgenson',
 'Kraig Grove',
 'Joanna Westman',
 'Luetta Wyse',
 'Nana Neilsen',
 'Elidia Gillett',
 'Lien Brigmond',
 'Meaghan Majeed',
 'Dominica Lanterman',
 'Cami Ryals',
 'Caroline Fleischer',
 'Joyce Pleasant',
 'Kyung Hearne',
 'Ranee Boomhower',
 'Jong Steele',
 'Benton Duty',
 'Margrett Hanks',
 'Sherwood Lingenfelter',
 'Livia Starr',
 'Edna Holt',
 'Denise Balser',
 'Rolf Galley',
 'Enedina Mika',
 'Brandon Authement',
 'Afton Dees',
 'Cecile Kealey',
 'Dusty Bickel',
 'Nichelle Wasko',
 'Leeanna Gregson',
 'Perry Daigneault',
 'Solange Borror',
 'Jamey Kirwin',
 'Jani Foulds',
 'Ted Hartig',
 'Grace Fitch',
 'Idalia Peluso',
 'Gerri Rotter',
 'Mervin Woolum',
 'Nobuko Bialek',
 'Kizzy Mancil',
 'Nelda Lucian',
 'Odessa Marshburn',
 'Armida Johanson',
 'Yang Lubinski',
 'Luciana Breneman',
 'Joaquin Southworth',
 'Madalyn Pettiford',
 'Annika Seamon',
 'Deanna Cleek',
 'Lynn Clifton',
 'Horacio Gilford',
 'Silvana Gosier',
 'Casimira Bakker',
 'Milagros Hixson',
 'Vaughn Revilla',
 'Cornelia Holly',
 'Maryanna Klemme',
 'Ines Breeden',
 'Bill Kuhlmann',
 'Ilda Bethel',
 'Norene Boudreau',
 'Sheron Lefever',
 'Stefany Pietrzak',
 'Cathleen Brawn',
 'Loriann Wedeking',
 'Jonathon Red',
 'Genie Muma',
 'Arletha Badalamenti',
 'Elza Buser',
 'Alaina Lykes',
 'Pamula Dalzell',
 'Maricela Jhonson',
 'Audry Mcgarr',
 'Kyla Bingaman',
 'Shyla Tubman',
 'Scottie Felton',
 'Terrance Joy',
 'Yee Trieu',
 'Houston Oller',
 'Ladawn Ates',
 'Marylouise Dorn',
 'Rex Merriam',
 'Rosetta Heidenreich',
 'Billye Serafin',
 'Brittaney Hermes',
 'Nannie Colligan',
 'Emmy Gallaway',
 'Giselle Lou',
 'Pam Melendez',
 'Julius Blazek',
 'Krystina Lucca',
 'Raisa Musgrove',
 'Carmelo Wain',
 'Kera Gilkison',
 'Xavier Trotta',
 'Florance Lawhon',
 'Albertha Digennaro',
 'Andra Bevel',
 'Winford Hamlin',
 'Bonny Horney',
 'Codi Garrels',
 'Kristeen Warman',
 'Trinidad Graziano',
 'Viva Roda',
 'Manual Vales',
 'Brendon Puente',
 'Nathalie Devita',
 'Zelda Ogren',
 'Sadie Hazelton',
 'Vinnie Bains',
 'Frederick Rankins',
 'Trish Vickers',
 'Masako Allman',
 'Ferne Villalpando',
 'Elna Kowal',
 'Aaron Castello',
 'Gerard Barrientos',
 'Wes Imel',
 'Stella Sears',
 'Josette Vavra',
 'Guadalupe Linen',
 'Jeremiah Damiani',
 'Roxy Lauber',
 'Federico Biros',
 'Sol Dantonio',
 'Lucas Anchondo',
 'Ok Then',
 'Mei Vaz',
 'Janelle Haddox',
 'Donald Trollinger',
 'Shakira Moreles',
 'Crista Cuccia',
 'Phung Dinh',
 'Paul Lockett',
 'Merlyn Hults',
 'Kym Rotter',
 'Jocelyn Akey',
 'Yukiko Furtado',
 'Sonny Wilner',
 'Verna Beller',
 'Hai Lippert',
 'Deeann Burdette',
 'Londa Gamache',
 'Shaina Sentell',
 'Dominick Dolson',
 'Len Bufford',
 'Luvenia Mattis',
 'Alysa Harlow',
 'Eliz Jennings',
 'Claris Lamons',
 'Vina Uhlig',
 'Glendora Hemminger',
 'Nelly Hardman',
 'Cinda Hargett',
 'Clarinda Pett',
 'Aisha Waller',
 'Carina Maybee',
 'Joanna Savoy',
 'Kayleen Watts',
 'Tobias Wronski',
 'Karrie Gust',
 'Migdalia Schimmel',
 'Markita Morphis',
 'Sid Welk',
 'Iliana Strauch',
 'Tawana Showers',
 'Keren Godbout',
 'Laureen Wrinkle',
 'Grady Kellogg',
 'Ulrike Gurley',
 'Gracie Rawlings',
 'Margurite Knebel',
 'Claud Lecompte',
 'Cole Vanhouten',
 'Frances Lloyd',
 'Lakendra Schlottmann',
 'Rocky Pridmore',
 'Esmeralda Platts',
 'Rod Kropf',
 'Marilynn Speer',
 'Ira Melendez',
 'Hae Leininger',
 'Melita Hiemstra',
 'Jacquetta Baillargeon',
 'Lucio Shahid',
 'Travis Hamlett',
 'Mariko Lemoine',
 'Janina Jennison',
 'Marina Ocon',
 'Laurette Crumpler',
 'Britteny Frierson',
 'Kerri Grizzle',
 'Trudi Deshazo',
 'Keitha Muncy',
 'Gerri Gargano',
 'Lin Veliz',
 'Camelia Drennen',
 'Tatyana Reeser',
 'Felisa Campo',
 'Tyler Frandsen',
 'Mickey Warfield',
 'Buster Defilippo',
 'Lorine Mchargue',
 'Alpha Wicker',
 'Alesha Borey',
 'Pattie Remo',
 'Yang Granillo',
 'Lynn Sax',
 'Rosio Hoard',
 'Cherri Jasinski',
 'Phoebe Plotner',
 'Silas Selvy',
 'Georgette Chism',
 'Lakiesha Hightower',
 'Tona Koss',
 'Lorette Rotondo',
 'Lorinda Bethke',
 'Arlen Clinard',
 'Lesley Lipton',
 'Rosanne Mayers',
 'Selina Leffler',
 'Milford Sang',
 'Geraldine Crimmins',
 'Veta Crochet',
 'Haley Warwick',
 'Dulcie Wehmeyer',
 'Hallie Swiger',
 'Reyna Bourgault',
 'Lynda Payan',
 'Stephaine Coulter',
 'Fatima Seaton',
 'Deeann Balboa',
 'Jacquelyne Knipe',
 'Migdalia Killingsworth',
 'Silas Elfrink',
 'Su Mcmillin',
 'Charlesetta Sillman',
 'Sandee Hanna',
 'Manual Steil',
 'Delmer Zielinski',
 'Alla Cann',
 'Nena Sarabia',
 'Sebastian Harn',
 'Consuela Aikins',
 'Alissa Chambers',
 'Hilary Seabrooks',
 'Eufemia Rossetti',
 'John Belmont',
 'Mona Mazzoni',
 'Sonya Molnar',
 'Ozell Weir',
 'Sanford Dungy',
 'Vito Mackin',
 'Evelina Tallon',
 'Paulene Gobeil',
 'Angla Hartzler',
 'Bulah Wark',
 'Lorean Ogan',
 'Dorothy Steger',
 'Benny Kosinski',
 'Rasheeda Buell',
 'Aracely Engler',
 'Becky Copland',
 'Annamaria Donadio',
 'Burt Maciel',
 'Bethany Mcmanis',
 'Adrianna Goodwill',
 'Delsie Rockhill',
 'Emanuel Motz',
 'Duane Mojarro',
 'Estefana Chi',
 'Temple Delgiudice',
 'Millie Skipworth',
 'Melania Stillings',
 'Caroyln Miser',
 'Sigrid Casares',
 'Rowena Nurse',
 'Chu Maughan',
 'Drucilla Devenport',
 'Willis Neiman',
 'Hellen Kimberling',
 'Libbie Klopp',
 'Cecille Normand',
 'Melita Gurr',
 'Katelin Kalina',
 'Rosa Leonard',
 'Sheena Hadden',
 'Karena Neace',
 'Carmon Ashford',
 'Ardella Camacho',
 'Hoyt Shadduck',
 'Todd Holgate',
 'Qiana Levan',
 'Risa Magwood',
 'Hortense Chattin',
 'Lee Esses',
 'Mohamed Bolles',
 'Merrill Ballenger',
 'Deeann Ashburn',
 'Perry Viera',
 'Joyce Sciacca',
 'Clayton Shealy',
 'Nada Sheilds',
 'Deanna Rome',
 'Greta Sartain',
 'Whitley Leppert',
 'Jenette Shover',
 'Franchesca Centers',
 'Myrtice Lonzo',
 'Santina Cybulski',
 'Kayleigh Cartier',
 'Dori Reasoner',
 'Raymundo Alcorn',
 'Edythe Knutsen',
 'Adell Westmoreland',
 'Delores Gullick',
 'Cuc Kossman',
 'Lakendra Bobby',
 'Oneida Haberman',
 'Ghislaine Southwick',
 'Ardis Overbey',
 'Fermin Work',
 'Saundra Voshell',
 'Bret Styers',
 'Kortney Shear',
 'Luanna Gabler',
 'Danette Lares',
 'Melisa Munday',
 'Myriam Roberie',
 'Izetta Policastro',
 'Renata Fettig',
 'Les Lindsey',
 'Harris Descoteaux',
 'Jazmine Emery',
 'Sherrie Pendelton',
 'Zaida Romney',
 'Florencio Coleman',
 'Velva Bing',
 'Ying Scheetz',
 'Keli Shen',
 'Mitch Grajeda',
 'Bryon Furness',
 'Tamie Bertucci',
 'Shaniqua Pulido',
 'Adina Farris',
 'Landon Constantino',
 'Russell Batres',
 'Leesa Rieke',
 'Hank Noblitt',
 'Priscilla Lamphere',
 'Candida Custis',
 'Karon Wilmes',
 'Prudence Cutler',
 'Myrl Kandoll',
 'Lissa Andrews',
 'Mikel Ranger',
 'Yuri Tiller',
 'Jonas Reilley',
 'Santina Sherlock',
 'Corrine Snelling',
 'Kara Wierenga',
 'Noriko Arroyo',
 'Caron Brasch',
 'Geoffrey Follmer',
 'Clark Vasser',
 'Wanetta Bold',
 'Maricela Damron',
 'Lynsey Stinchcomb',
 'Lovetta Kline',
 'Gracia Moone',
 'Loma Shears',
 'Adelle Philbrick',
 'Clifford Poehler',
 'Sun Johnsrud',
 'Jenell Marro',
 'Mendy Strayer',
 'Harriette Ing',
 'Veola Domenech',
 'Denisha Chabot',
 'Corrina Carollo',
 'Cassandra Fike',
 'Johnson Pinedo',
 'Emery Gessner',
 'Gaynelle Slaton',
 'Alysia Hipps',
 'Deeann Keeler',
 'Lilliam Harvard',
 'Shara Syed',
 'Lorinda Froman',
 'Bonita Briganti',
 'Kendall Simons',
 'Lakenya Seabrooks',
 'Jammie Gourlay',
 'Arlean Juergens',
 'Boyce Wehmeyer',
 'Sindy Galyean',
 'Louis Bullard',
 'Vita Noonkester',
 'Lakeesha Lesniak',
 'Charlette Larry',
 'Heidi Abadie',
 'Shandi Medders',
 'Jenny Severino',
 'Patience Marley',
 'Lily Wolter',
 'Robbyn Diem',
 'Odette Laclair',
 'Charlsie Stern',
 'Anne Dresel',
 'Josefina Smiley',
 'Lisette Mehr',
 'Sherryl Siers',
 'Velia Brayman',
 'Lyn Pan',
 'Caitlin Bessey',
 'Cristine Roder',
 'Claire Sward',
 'Adelle Kovach',
 'Melissa Kear',
 'Rosetta Flagg',
 'Kina Koffler',
 'Lang Silver',
 'Regina Lentine',
 'Viki Cartledge',
 'Brett Aasen',
 'Glynda Maine',
 'Joane Hasler',
 'Sook Varnell',
 'Priscila Leanos',
 'Evan Deslauriers',
 'Luz Huddleston',
 'Joann Montag',
 'Jeannine Pfeil',
 'Raina Batdorf',
 'Madge Lossing',
 'Vannessa Lopez',
 'Irvin Bumbrey',
 'Candida Salinas',
 'Natalya Bremer',
 'Shalon Brook',
 'Kathaleen Clepper',
 'Fausto Dionne',
 'Hildegarde Kitch',
 'Jarrett Celestin',
 'Deneen Wind',
 'Bradly Ratchford',
 'Gayle Modica',
 'Miles Wyrick',
 'Hilton Cousin',
 'Porsha Adcock',
 'Renita Glavin',
 'Hannelore Yetter',
 'Norine Cane',
 'Faustina Szabo',
 'Jeraldine Luque',
 'Elza Prager',
 'Jodee Grimm',
 'Alba Mcpherson',
 'Tinisha Addington',
 'Myrtice Andino',
 'Kathern Gebo',
 'Almeta Razo',
 'Jared Threlkeld',
 'Lashawna Hough',
 'Kristi Tow',
 'Luther Lefevers',
 'Wilmer Larkin',
 'Cammy Scalf',
 'Deedee Prokop',
 'Leandra Allinder',
 'Terrilyn Maly',
 'Riley Wimbish',
 'Merrilee Shook',
 'Filiberto Alverson',
 'Elyse Kendig',
 'Alysha Ohern',
 'Armando Fortney',
 'Lavona Shoup',
 'Quentin Wroten',
 'Coral Bow',
 'Lorrie Bradley',
 'Eliana Zych',
 'Brigida Edgar',
 'Kourtney Fannin',
 'Peg Mcelyea',
 'Elizabet Bodine',
 'Fannie Bostic',
 'Carolann Dupler',
 'Devora Mcguire',
 'Myrtie Splawn',
 'Riva Cha',
 'Albert Redd',
 'Harley Mcmeen',
 'Malika Alanis',
 'Arcelia Eubanks',
 'Mandie Benito',
 'Terry Cleary',
 'Nicolas China',
 'Claud Linley',
 'Rae Luciani',
 'Ines Scalf',
 'Tera Durante',
 'Markus Kump',
 'Clare Hakes',
 'Mazie Mebane',
 'Celestine Metheny',
 'Jerrell Goold',
 'Eneida Koeppel',
 'Ailene Eddleman',
 'Cora Leeds',
 'Mirian Orman',
 'Rachel Rink',
 'Natalya Falgoust',
 'Garnett Calderone',
 'Dorethea Dudding',
 'Jaimie Siemers',
 'Milton Sabol',
 'Betsey Gallman',
 'Molly Mckinzie',
 'Carrol Harrelson',
 'Dylan Mcbay',
 'Veta Fultz',
 'Mariette Whitten',
 'Xenia Parrales',
 'Erwin Ohlinger',
 'Zetta Haan',
 'Rusty Twiggs',
 'Zachary Pitre',
 'Stacy Andrzejewski',
 'Julie Heineman',
 'Yuriko Temme',
 'Deidra Hufford',
 'Anisa Gordillo',
 'Luna Gleaton',
 'Laci Pasko',
 'Julene Kohr',
 'Felicita Bemis',
 'Hollis Okeefe',
 'Margherita Ceron',
 'Doyle Kegler',
 'Kris Zuniga',
 'Ladawn Reitz',
 'Isaiah Frink',
 'Demetrius Meadow',
 'Markus Mcduffy',
 'Otelia Montoya',
 'Florene Chartrand',
 'Olene Fink',
 'Gerardo Mazurek',
 'Victor Brunswick',
 'Sheilah Izaguirre',
 'Jenae Newbold',
 'Jospeh Foushee',
 'Peggie Pankey',
 'Coralee Basel',
 'Loraine Mcmillan',
 'Elidia Stutts',
 'Ria Atkins',
 'Claudio Dibella',
 'Vernell Millican',
 'Renato Carraway',
 'Tajuana Rubalcaba',
 'Shaquana Thiele',
 'Zane Applebee',
 'Terese Chace',
 'Ruben Albee',
 'Claretta Helmers',
 'Dorris Chastain',
 'Emerson Harriston',
 'Pricilla Shedd',
 'Carie Murry',
 'Mitchel Obey',
 'Carlee Colella',
 'Billye Kirsch',
 'Yaeko Liz',
 'Helene Boatman',
 'Rachele Buzzard',
 'Delinda Matta',
 'Hyun Melody',
 'Rey Letsinger',
 'Gabriella Coyle',
 'Demetria Mund',
 'Angeles Matteo',
 'Venice Underhill',
 'Naoma Ames',
 'Mora Katzman',
 'Grisel Berger',
 'Catheryn Buser',
 'Stephania Fail',
 'Marsha Canton',
 'Euna Risk',
 'Leopoldo Osby',
 'Stormy Browder',
 'Karrie Morrisey',
 'Tammera Uzzle',
 'Mavis Macrae',
 'Ellyn Labrie',
 'Heike Roehrig',
 'Milissa Tiffany',
 'Mona Clow',
 'Aurelio Angles',
 'Dominque Bogner',
 'Lorriane Lovitt',
 'Fransisca Bouie',
 'Joy Girard',
 'Tamisha Steinert',
 'Katrina Boyce',
 'Concetta Everts',
 'Lashaun Havlik',
 'Loida Lessman',
 'Conception Pritt',
 'Glenna Hoffman',
 'Matha Pasco',
 'Lacy Lampman',
 'Rheba Lueras',
 'Brenda Thakkar',
 'Wilda Spagnolo',
 'Eileen Lightford',
 'Jeanne Farias',
 'Janella Dangelo',
 'Angelina Dunneback',
 'Nella Denker',
 'Bula Fenstermaker',
 'Joshua Raminez',
 'Krysta Alsup',
 'Toya Skow',
 'Kimberli Harrington',
 'Caren Mckey',
 'Erica Duden',
 'Honey Binder',
 'Hipolito Yamasaki',
 'Burma Deyoe',
 'Wayne Earp',
 'Guillermo Feltz',
 'Debby Reynosa',
 'Oleta Kwong',
 'Phoebe Nestle',
 'Lyda Mcmunn',
 'Saturnina Albin',
 'Zoe Orndorff',
 'Robin Acheson',
 'Rafaela Zamarripa',
 'Fransisca Rand',
 'Foster Villicana',
 'Penney Lachowicz',
 'Lovella Dao',
 'Harriet Woodrow',
 'Harmony Ohair',
 'Ardelia Fritz',
 'Twyla Kennemer',
 'Noelia Gossard',
 'Kasie Newbrough',
 'Cristine Brook',
 'Jaclyn Dodson',
 'Peter Looney',
 'Rosanna Rayburn',
 'Vivien Escalera',
 'Cindi Kenley',
 'Norman Earles',
 'Kandice Lopez',
 'Dawna Moss',
 'Ray Capp',
 'Keeley Harty',
 'Charlesetta Chae',
 'Jacquelyne Hibbler',
 'Anastasia Calderwood',
 'Ermelinda Mccluney',
 'Lucia Postel',
 'Malinda Clubb',
 'Evelynn Hughley',
 'Ricki Palazzo',
 'Tara Boxx',
 'Laverne Griffiths',
 'Kermit Stairs',
 'Toney Razor',
 'Leatha Barfoot',
 'Gus Brawner',
 'Judith Coggin',
 'Porter Bridge',
 'Wilma Towne',
 'Normand Kuehner',
 'Lashell Bibbs',
 'Collene Collado',
 'Janessa Conine',
 'Brigette Bloomfield',
 'Jerome Hunley',
 'Avril Krogh',
 'Kizzy Hinkle',
 'Kristeen Patrick',
 'Briana Feehan',
 'Mica Biffle',
 'Perla Myles',
 'Lavern Bays',
 'Marietta Sun',
 'Jeri Buttner',
 'Hang Hutter',
 'Kimber Couture',
 'Patsy Veliz',
 'Creola Mcpeters',
 'Bari Burkhardt',
 'Drucilla Bhakta',
 'Chara Messana',
 'Inocencia Pfannenstiel',
 'Divina Goodson',
 'Britt Leclerc',
 'Meryl Mast',
 'Otelia Trottier',
 'Marnie Larue',
 'Rufus Heldt',
 'Le Harbin',
 'Stan Clow',
 'Aundrea Hauff',
 'Enola Hernandes',
 'Adriene Grabert',
 'Hillary Daugherty',
 'Desire Sae',
 'Susie Neisler',
 'Nancy Garrow',
 'Margit Swing',
 'Carmine Cogdill',
 'Shaunda Amburn',
 'Melva Police',
 'Billie Pitre',
 'Shiloh Guilliams',
 'Selena Prideaux',
 'Rutha Starnes',
 ...]

In [9]:
replace_column_values(df_final["Name"],fullnames,[df_midterm["Name"]])

In [10]:
student_list = df_final["StudentID"].unique().tolist()
len(student_list)

380

In [11]:
rand_numbers = []
while len(rand_numbers) < len(student_list):
    new_rand_number = random.randint(11111111111, 99999999999)
    if new_rand_number not in rand_numbers:
        rand_numbers.append(new_rand_number)
        
rand_numbers

[22237660204,
 61566865497,
 94998582479,
 55161490433,
 54902346871,
 87303309073,
 78426526978,
 49901982517,
 97200939853,
 17052916135,
 54761533675,
 30697810635,
 39940783262,
 98241797916,
 13433354361,
 40018276763,
 59712846462,
 39985337586,
 86282897467,
 95332151623,
 67975552697,
 90116794432,
 28633615099,
 58165950413,
 34299320845,
 28462880379,
 51508275837,
 24784284221,
 86288528156,
 68678760173,
 86324156844,
 56789288284,
 80678760340,
 12176338245,
 13008415835,
 57726984332,
 35405711323,
 73991242755,
 73322149378,
 13923247639,
 36108924290,
 85935144556,
 13730816895,
 81962113453,
 55605244791,
 95996993321,
 48353006797,
 63835626267,
 36234883299,
 31028549639,
 50192083546,
 15419685767,
 80034610668,
 61704605019,
 81142744924,
 23240580575,
 64760646812,
 73173262008,
 44643500062,
 12560797191,
 27034115358,
 80485581060,
 14999270559,
 73744141195,
 18851670613,
 38313524102,
 84126538009,
 32484737178,
 18151414716,
 49217637719,
 96412611837,
 27316558629,
 63507558143,
 72714525511,
 83207349606,
 97270803272,
 29577116180,
 87849909003,
 42914595062,
 23632315837,
 72578560283,
 22181066830,
 44837975292,
 31865725327,
 90917858082,
 68845220919,
 38210262373,
 21718933335,
 86460858129,
 12117598576,
 54900656692,
 22992502346,
 85606480130,
 61250461798,
 74719449057,
 65571717221,
 65570547002,
 82216978279,
 25932365464,
 13339236815,
 31640201000,
 65535404433,
 86639028919,
 97992960885,
 38680596370,
 84861502715,
 35183555266,
 75802337319,
 41365434351,
 66617706805,
 72613149649,
 31919452810,
 85268130600,
 33387366425,
 45567453607,
 43875957741,
 27318360169,
 89120249308,
 16828942525,
 28218142664,
 42750264434,
 23580916860,
 64025224734,
 48371987359,
 85068029687,
 12381968161,
 69586913679,
 11700994538,
 89257089222,
 24736159779,
 36672203781,
 76690280942,
 38968736187,
 94845043290,
 85917687308,
 27362024689,
 22083954348,
 26471727274,
 89468378633,
 24788648954,
 46324400171,
 50538723595,
 47190426529,
 84192769888,
 16961742297,
 13451112756,
 33845325905,
 44419477025,
 73006445857,
 94994261984,
 55375869019,
 34946422682,
 93311401006,
 68192863747,
 76364559099,
 61340950626,
 52729189813,
 86737498199,
 86371020558,
 70978017044,
 20177864925,
 36011662319,
 89726293817,
 50322388866,
 33615185437,
 27693173121,
 25692280774,
 54908288174,
 43921282959,
 23630228593,
 22793390860,
 22857083344,
 67090061197,
 58359817510,
 90767052323,
 38315738261,
 28223346798,
 80881770324,
 75389622487,
 31994799274,
 70778587412,
 27202407743,
 80095402510,
 45058297452,
 97048354391,
 71833077133,
 46693135330,
 82034128267,
 97820448999,
 43578173828,
 68765117757,
 68932506195,
 65915785093,
 66835907482,
 50908889939,
 22022184959,
 88691732436,
 13929736588,
 77807727678,
 91919018737,
 40731924911,
 30847413513,
 79385694632,
 20426160213,
 31265081443,
 70015707140,
 58581755747,
 92924907551,
 41447806420,
 72147988461,
 28572947419,
 88963597908,
 87042884745,
 57348445115,
 45337122765,
 21325925773,
 36347731380,
 94430542266,
 19044909850,
 77271830767,
 48550798242,
 66752056313,
 51208021255,
 93964105018,
 18422294240,
 84145872354,
 79201298136,
 44412091333,
 92569432617,
 68184797632,
 26875573135,
 93140103322,
 59445953317,
 62934431181,
 24673164436,
 86990573460,
 48709206533,
 26411121809,
 70832999892,
 36035190242,
 65885220503,
 49863430086,
 69279246572,
 68100246447,
 85953240234,
 41540557339,
 86909133270,
 98444960213,
 58464879484,
 42080141624,
 29098935301,
 48942291110,
 43378341703,
 36939743483,
 68982770842,
 58690129227,
 45243039962,
 19724581075,
 63991570740,
 85827058305,
 41712064478,
 72406994988,
 77683749278,
 13301717438,
 99456272863,
 99709950853,
 81257070223,
 70673127118,
 98212163082,
 38077634502,
 94751655031,
 62242939152,
 77669744643,
 51076553654,
 78125056389,
 12295404086,
 36130606278,
 88709170720,
 52625289503,
 57397929056,
 30692108777,
 74923257850,
 53933950169,
 17853273119,
 13978897298,
 68856872579,
 88922587565,
 65832951657,
 80055563376,
 98891038538,
 14230201948,
 23870061214,
 23102760659,
 70890608014,
 48449459263,
 74170758088,
 97758810694,
 17848085198,
 40395770753,
 41698977367,
 20670443799,
 46443633924,
 80463534879,
 73122313945,
 82985959285,
 86545275765,
 53393110398,
 63916859697,
 37794743528,
 54695871447,
 83597610112,
 52903439434,
 80628463666,
 96628892820,
 45520841898,
 58945541627,
 43525200532,
 94084917834,
 30666776140,
 59914849805,
 52968993643,
 49494981979,
 80077577319,
 23046935040,
 98222823247,
 19901912654,
 24796222066,
 79930207716,
 98415434407,
 43997093471,
 28951013810,
 28936661592,
 23218917115,
 81238188988,
 15723491045,
 67393440518,
 99532310704,
 90570769684,
 70940621016,
 45731371563,
 78081783345,
 51398333362,
 65004860054,
 20443538032,
 66081998957,
 66093478829,
 26539223156,
 43619518106,
 64911483519,
 49280265471,
 96346522393,
 80132145743,
 90189637785,
 45501910382,
 14181693919,
 16984049260,
 40599519061,
 31718577000,
 82931950991,
 88316098322,
 93972350089,
 65297333325,
 46309891594,
 88904964206,
 53306478381,
 29753617990,
 58748400401,
 91339565322,
 33501292014,
 26488861244,
 67294361404,
 76605063089,
 84517238368,
 23637401012,
 40832891238,
 92191385975,
 51998711296,
 48692163597,
 48406701563,
 16083793993]

In [12]:
replace_column_values(df_final["StudentID"],rand_numbers,[df_midterm["StudentID"]])

In [13]:
df_final

,StudentID,Name,Subject,Class,Activity,Short Evaluation,Assignments,Behaviour,Art Activities,Participation,Project,Practical Exam,Achivements,Period,Main Evaluation,2nd Attempt,Grade,Status
0,22237660204,Mechelle Stoneman,Mathematics,05/1,50.0,20.0,10.0,NaN,NaN,5.0,15.0,NaN,NaN,1st Term Final,46.0,NaN,38.0,Present
1,61566865497,Tyesha Freitag,Mathematics,05/1,50.0,20.0,10.0,NaN,NaN,5.0,15.0,NaN,NaN,1st Term Final,42.5,NaN,36.5,Present
2,94998582479,Dean Stoecker,Mathematics,05/1,50.0,20.0,10.0,NaN,NaN,5.0,15.0,NaN,NaN,1st Term Final,27.0,NaN,28.5,Present
3,55161490433,Annelle Pickney,Mathematics,05/1,50.0,20.0,10.0,NaN,NaN,5.0,15.0,NaN,NaN,1st Term Final,43.0,NaN,37.0,Present
4,54902346871,Margareta Tacy,Mathematics,05/1,50.0,20.0,10.0,NaN,NaN,5.0,15.0,NaN,NaN,1st Term Final,47.0,NaN,37.0,Present
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3795,92191385975,Kristeen Warman,PE,05/9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1st Term Final,NaN,NaN,NaN,NaN
3796,51998711296,Trinidad Graziano,PE,05/9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1st Term Final,NaN,NaN,NaN,NaN
3797,48692163597,Viva Roda,PE,05/9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1st Term Final,NaN,NaN,NaN,NaN
3798,48406701563,Manual Vales,PE,05/9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1st Term Final,NaN,NaN,NaN,NaN
3799,16083793993,Brendon Puente,PE,05/9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1st Term Final,NaN,NaN,NaN,NaN

In [16]:
df_final.to_excel("final.xlsx")

In [17]:
df_midterm.to_excel("midterm.xlsx")